<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Expense Tracker</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css'
    rel='stylesheet' type='text/css'>

</head>

<body class="bg-light">

  <header>
    <nav class="navbar" style="background-color: #e9ecef;">
      <div class="container-fluid">
        <a class="navbar-brand text-dark" href="/"><b>家庭記帳本</b></a>
        {{#if isAuthenticated}}
        <a href="/users/logout" class="btn btn-outline-dark" style="color:  #fd8914;"><b>登出</b></a>
        {{else}}
        <a href="/users/login" class="btn btn-outline-dark" style="color:  #fd8914;"><b>登入</b></a>
        {{/if}}
      </div>
    </nav>
  </header>

  <main>
  
      {{{ body }}}
    </div>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
</body>

</html>