<form action="/records/{{ Record._id }}?_method=DELETE" method="POST" style="display: inline;">
  <div class="input-group">
    <div class="input-group-text">
      <input type="checkbox" class="form-check-input mt-0" name="isDone" 
        disabled>
    </div>
    <input class="form-control" type="text" placeholder="name" name="name" value="{{ Record.name }}" disabled>
    <a class="btn btn-success" href="/records/{{ Record._id }}/edit">edit</a>
    <button class="btn btn-danger" type="submit">delete</button>
  </div>
</form>