<!-- ./views/new.handlebars -->
<div class="container d-flex justify-content-center">
  <form action="/records" method="POST" style="display: inline;">
    <table class="table table-borderless" style="width:500px;">
      <tr>
        <th class="text-center align-middle">名稱</th>
        <td><input class="form-control form-control-sm" type="text" placeholder="名稱" name="name" style='width: 300px;'>
        </td>
      </tr>
      <tr>
        <th class="text-center align-middle">日期</th>
        <td>
          <input class="form-control form-control-sm" type="date" placeholder="日期" name="date" style='width: 300px;'>
        </td>
      </tr>
      <tr>
        <th class="text-center align-middle">類別</th>
        <td><select class="form-select form-select-sm" size="1" name="category" style="width: 300px;">
            <option selected disabled>選擇一種類別</option>
            {{#each categories}}
            <option value="{{this.name}}">{{this.name}}</option>
            {{/each}}
          </select></td>
      </tr>
      <tr>
        <th class="text-center align-middle">金額</th>
        <td><input class="form-control form-control-sm" type="text" placeholder="金額" name="amount"
            style='width: 300px;'>
        </td>
      </tr>
    </table>
    <button type="submit" class="ms-3 btn btn-primary btn-block">新增</button>
  </form>
</div>